.slider__container {
    --slider-line-height: 4px;
    --slider-width: 400px;
    --slider-circle-diameter: 16px;
    --slider-percent: 0%;
    width: calc(var(--slider-width) + var(--slider-circle-diameter)/2);
    height: var(--slider-circle-diameter);
    display: flex;
    align-content: space-around;
}

.slider__line {
    width: var(--slider-width);
    height: var(--slider-line-height);
    background-color: #DBDDE4;
    margin-top: calc((var(--slider-circle-diameter) - var(--slider-line-height))/2);
    margin-left: calc(var(--slider-circle-diameter)/2);
    margin-right: calc(var(--slider-circle-diameter)/2);
    margin-bottom: calc((var(--slider-circle-diameter) - var(--slider-line-height))/2);
    border-radius: 2px;
}

.slider__circle {
    margin-left: var(--slider-percent);
    border-radius: 100px;
    background-color: #6F7177;
    height: var(--slider-circle-diameter);
    width: var(--slider-circle-diameter);
    transform: translate(-50%, calc(-50% + var(--slider-line-height)/2));
}

.slider__circle:active {
    background-color: #57595F;
}